.profile {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 350px;
  padding: 20px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(21, 21, 21);
  padding-bottom: 20px;
}
.name {
  font-size: large;
  font-weight: bold;
}
.tag {
  color: rgb(77, 77, 77);
}
.location {
  color: rgb(77, 77, 77);
}
.stats {
  display: flex;
  text-align: center;
  align-items: center;
}
.statsList {
  display: flex;
  gap: 5px;
  padding: 10px;
  background-color: gray;
  border: solid 1px black;
  flex-wrap: wrap;
  justify-content: center;
}
.value {
  font-weight: bold;
}
